{% extends 'shopapp/base.html' %}


{% block title %}
    Order List
{% endblock %}

{% block body %}
    <h1>Orders:</h1>
    {% if orders %}
        <div>
            {% for order in orders %}
                <div>
                    <p>Order by {% firstof orger.user.first_name order.user.username %}</p>
                    <p>Promocode: <code>{{ order.promocode }}</code></p>
                    <p>delivery_address: <code>{{ order.delivery_address }}</code></p>
                </div>
                <div>
                    <h2>Products in order:</h2>
                    <ul>
                        {% for product in order.products.all %}
                            <li>{{ product.name }} for ${{ product.price }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}

        </div>
    {% else %}
        <h3>No orders yet</h3>
    {% endif %}
{% endblock %}